<div class="container">
  <div class="summary">
    <h1>編集用ページ</h1>
  </div>
  <div class="projects">
    <%= link_to("/admin/new") do %>
      <div class="l-wrapper card-radius">
        <article class="card">
          <div class="card__header">
            <p class="card__title"><%="新規投稿"%></p>
            <figure class="card__thumbnail">
              <img src="/assets/newpost2.png" alt="サムネイル" class="card__image">
            </figure>
          </div>
          <div class="card__body">
            <p class="card__text2">このチームの概要</p>
          </div>
        </article>
      </div>
    <% end %>
    <% @projects.each do |pro| %>
      <%= link_to("/admin/edit/#{pro.team_id}") do %>
        <div class="l-wrapper card-radius">
          <article class="card">
            <div class="card__header">
              <p class="card__title"><%="#{pro.app_name} by #{pro.team_name}"%></p>
              <figure class="card__thumbnail">
                <img src=<%="http://img.youtube.com/vi/#{pro.pitch_video.slice(-11,11)}/hqdefault.jpg"%> alt="サムネイル" class="card__image">
              </figure>
            </div>
            <div class="tags">
              <ul>
                <li class="tag"><%= pro.year %></li>
                <% if pro.prize != nil %>
                  <li class="tag"><%= "#{pro.prize}賞" %></li>
                <% end %>
                <% if pro.semifinal==1 %>
                  <li class="tag">Semifinalist</li>
                <% end %>
                <% if pro.final==1 %>
                  <li class="tag">Finalist</li>
                <% end %>
              </ul>
            </div>
            <div class="card__body">
              <p class="card__text2">このチームの概要</p>
            </div>
          </article>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
